<div class="my-4">
    <h3>
        List of elements
    </h3>
</div>

<form [formGroup]="elementForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Add new element" formControlName="newItiem">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="button-addon2">Add</button>
        </div>
    </div>
</form>


<ul class="list-group list-group-flush" *ngIf="elements">
    <li class="list-group-item" *ngFor="let element of elements">
        <span class="badge badge-info badge-pill mr-4">
            {{element.id}}
        </span>
        {{element.name}}
    </li>
</ul>